*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    display: flex;
    border: solid black;
    justify-content: center;
    flex-flow: row nowrap;
    text-transform: uppercase;
    margin:0 0 5rem;
    background-color: black;
}

nav a{
    border:solid black;
}

nav a:hover{
    border:solid antiquewhite;
}

a{
    text-align: center;
    flex-basis: 20%;
    padding: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: antiquewhite;
}

h1{
    text-align: center;
    font-size: 300%;
    margin-bottom: 5rem;
    text-decoration: underline;
}

.vit-text{
    color: antiquewhite;
}

.projekt{
    display: flex;
    margin: 5rem 12rem;
    flex-flow: row wrap;
    align-items: center;
    justify-content:space-around; 
    text-align: center;
}

.projekt img{
    max-width: 17rem;
    object-fit: cover;
    border-radius: 80px;
    height: 17rem;
    padding:1px;
    margin-top: 2rem;
    transition: 1s;
    filter: grayscale(60%);
}

.projekt img:hover{
    filter: grayscale(0);
    max-width: 35rem;
    border-radius: 15px;
    transform: scale(1.15);
    transition: 1s;
}

.projekt div{
    transition: 0.5s;
}

.projekt div:hover{
    text-decoration: underline;
    transform: scale(1.3);
    transition: 1s;
}


footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
    margin-top: 10rem;
    bottom: 0;
    width: 100%;
    background-color: rgb(24, 24, 24);
}

footer h3{
    background-color: rgb(46, 46, 46);
    margin-bottom: 30px;
    padding: 15px;
    font-size: x-large;
    color: antiquewhite;
}

footer img:hover{
    transform: scale(1.3);
    transition: 0.2s;
}

.om-mig{
    display: flex;
    margin: 0rem 12rem;
    flex-flow: row wrap;
    align-items: center;
    justify-content:center; 
    text-align: center;
}

.om-mig img{
    height: 30rem;
    padding:1px;
    border-radius: 5%;
}

.om-mig p{
    display:flex;
    margin:3rem 30% 0;    
}

body{
    background-size:cover;
}

.projektsidan{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.projektsidan img{
    height:30rem;
    border: 10px solid rgba(9, 9, 9, 0.504);
}

p{
    margin: 5rem 30rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.715);
    color: antiquewhite;
}

.background-color{
    background: linear-gradient(0deg, rgb(250, 249, 249) 18%, rgb(119, 239, 237) 100%);
}

html{
    scroll-behavior:smooth;
}